<h2>Signup</h2>
<form action="/signup" method="post">
  <label for="username-field">Username:</label>
  <input type="text" name="username" id="username-field">
  <label for="password-field">Password:</label>
  <input type="password" name="password" id="password-field">
  <br><br>
  {{#if message}}
    <div class="error-message">{{message}}</div>
  {{/if}}
  <button>Signup</button>
</form>